<button class="btn btn-secondary" (click)="openDialog()"
matTooltip="Info about the action">
  <i class="material-icons">person_add</i> Add User
  
</button>
<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title custom-title">List of Users</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="color: #5F97CD">#</th>
          <th scope="col" style="color: #5F97CD">Username</th>
          <th scope="col" style="color: #5F97CD">Age</th>
          <th scope="col" style="color: #5F97CD">Email</th>
          <th scope="col" style="color: #5F97CD">Password</th>
          <th scope="col" style="color: #5F97CD">Operation</th>
          <th scope="col" style="color: #5F97CD">offre</th>
          <th scope="col" style="color: #5F97CD">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listUsers">
          <td>{{ item.id }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.email }}</td>
          <td>
            <div class="password-field">
              <input type="password" [value]="item.password" [attr.type]="showPassword[item.id] ? 'text' : 'password'" disabled>
              <span class="material-icons-outlined" style="color: #17548E;" (click)="togglePasswordVisibility(item.id)">
                {{ showPassword[item.id] ? 'visibility_off' : 'visibility' }}
              </span>
            </div>
          </td>
          <td>
            <span
              (click)="removeUsers(item.id)"
              class="material-icons-outlined"
              style="color: red; cursor: pointer"
            >
              person_off
            </span>
          </td>
          <td>
            <span
              (click)="addoffre()"
              class="material-icons-outlined"
              style="color: green"
            >
              groupe
            </span>
          </td>
          <td>
            <span
              (click)="updateUser(item.id)"
              class="material-icons-outlined"
              style="color: #17548E"
            >
              edit_note
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
