<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="groups" class="nav-link" routerLinkActive="active">Group List</a>
      </li>
      <li class="nav-item">
          <a routerLink="addGroup" class="nav-link" routerLinkActive="active">Add Group</a>
      </li>
      <li class="nav-item">
        <a routerLink="offers" class="nav-link" routerLinkActive="active">Offres</a>
    </li>
    <li class="nav-item">
      <a routerLink="Users" class="nav-link" routerLinkActive="active">listUsers</a>
  </li> 
  <li class="nav-item">
    <a routerLink="Reservations" class="nav-link" routerLinkActive="active">listReservation</a>
</li> 

  
  <!-- <li class="nav-item">
    <a routerLink="" class="nav-link" routerLinkActive="active">welcome {{firstname}}</a>
</li> -->
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer class="footer">
    <!-- <div class="container">
        <span>All Rights Reserved PiDev group 6</span>
    </div> -->
  </footer>
  