<nav class="navbar navbar-expand-sm  " style="background-color: rgb(35,79,109); ">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="groups" class="nav-link" routerLinkActive="active" style="color: white; ">Group List</a>
    </li>
    <li class="nav-item">
        <a routerLink="offers" class="nav-link" routerLinkActive="active" style="color: white; ">Offers List</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
      <span>All Rights Reserved PiDev group 6</span>
  </div>
</footer>





