<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
      <h2 class="title-page">Shopping cart</h2>
    </div> <!-- container //  -->
  </section>
  <!-- ========================= SECTION INTRO END// ========================= -->
  
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
    <div class="container">
  
      <div class="row">
        <main class="col-md-9">
          <div class="card">
  
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" class="text-right" width="200"> </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <figure class="itemside">
                    <div class="aside"><img src="assets/images/items/1.jpg" class="img-sm"></div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark">Some name of item goes here nice</a>
                      <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <var class="price">1156.00</var>                  
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">$1156.00</var>
                    <small class="text-muted"> $315.20 each </small>
                  </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                  <a href="" class="btn btn-light"> Remove</a>
                </td>
              </tr>
              </tbody>
            </table>
  
            <div class="card-body border-top">
              <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
              <a routerLink="Produit" class="btn btn-light" routerLinkActive="active"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
            </div>
          </div> <!-- card.// -->
  
          <div class="alert alert-success mt-3">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
          </div>
  
        </main> <!-- col.// -->
        <aside class="col-md-3">
          <div class="card mb-3">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label>Have coupon?</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                    <span class="input-group-append">
                                  <button class="btn btn-primary">Apply</button>
                              </span>
                  </div>
                </div>
              </form>
            </div> <!-- card-body.// -->
          </div>  <!-- card .// -->
          <div class="card">
            <div class="card-body">
              <dl class="dlist-align">
                <dt>Total price:</dt>
                <dd class="text-right">USD 568</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Discount:</dt>
                <dd class="text-right">USD 658</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Total:</dt>
                <dd class="text-right  h5"><strong>$1,650</strong></dd>
              </dl>
              <hr>
              <p class="text-center mb-3">
                <img src="assets/images/misc/payments.png" height="26">
              </p>
  
            </div> <!-- card-body.// -->
          </div>  <!-- card .// -->
        </aside> <!-- col.// -->
      </div>
  
    </div> <!-- container .//  -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  
  <!-- ========================= SECTION  ========================= -->
  <section class="section-name bg padding-y">
    <div class="container">
        <h1>Payment and Refund Policy</h1>
        <p>
            Thank you for choosing our services/products. This Payment and Refund Policy outlines the terms and conditions governing all payments made to us and the procedures for requesting a refund. By using our services/products, you agree to comply with this policy.
        </p>
        <h2>1. Payment</h2>
        <p>
            1.1. All payments must be made in the currency specified at the time of purchase. We accept various payment methods, including credit/debit cards, electronic funds transfers, or any other payment method as indicated on our website.<br>
            1.2. Payment is due at the time of purchase, unless otherwise agreed upon in writing. We reserve the right to cancel any order or suspend any service until payment is received in full.<br>
            1.3. In the event of non-payment or insufficient funds, we may suspend or terminate the services/products provided to you, subject to any applicable laws or regulations.
        </p>
        <h2>2. Refund</h2>
        <p>
            2.1. We strive to provide you with the best services/products possible. If you are not satisfied with your purchase, you may be eligible for a refund subject to the following conditions:<br>
            2.2. Refund requests must be made within [number of days] days from the date of purchase.
        </p>
  
    </div><!-- container // -->
  </section>
  