
  
  <form [formGroup]="form">
    <div class="date1">
      <label for="dateReservation">Arrival Date</label>
      <input type="date" name="dateReservation" formControlName="dateReservation">
    </div>
    <div class="date2">
      <label for="departureDate">Departure Date</label>
      <input type="date" name="departureDate" formControlName="departureDate">
    </div>
    <h4>Select Group:</h4>
    <select name="group" formControlName="group">
      <option *ngFor="let group of groups" value="{{ group.id }}">{{ group.name }}</option>
    </select>

    <h4>Select Location</h4>
    <select name="localisation" formControlName="localisation">
      <option *ngFor="let localisation of localisations" value="{{ localisation.id }}">{{ localisation.name }}</option>
    </select>
    <button type="button" (click)="submit()">Submit</button>

  </form>