<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="dateReservation" class="form-label">Arrival Date</label>
    <input class="form-control" type="date" name="dateReservation" formControlName="dateReservation">
    <div *ngIf="form.get('dateReservation')?.invalid && form.get('dateReservation')?.touched" class="text-danger">
      Arrival Date is required.
    </div>
  </div>
  <div class="form-group">
    <label for="departureDate" class="form-label">Departure Date</label>
    <input class="form-control" type="date" name="departureDate" formControlName="departureDate">
    <div *ngIf="form.get('departureDate')?.invalid && form.get('departureDate')?.touched" class="text-danger">
      Departure Date is required.
    </div>
  </div>
  <h4>Select Group:</h4>
  <div class="form-group">
    <select class="form-control" name="group" formControlName="group">
      <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
    </select>
    <div *ngIf="form.get('group')?.invalid && form.get('group')?.touched" class="text-danger">
      Select a Group.
    </div>
  </div>

  <h4>Select Location</h4>
  <div class="form-group">
    <select class="form-control" name="localisation" formControlName="localisation">
      <option *ngFor="let localisation of localisations" [value]="localisation.id">{{ localisation.name }}</option>
    </select>
    <div *ngIf="form.get('localisation')?.invalid && form.get('localisation')?.touched" class="text-danger">
      Select a Location.
    </div>
  </div>
  <div class="btn1">
    <button type="submit" class="btn btn-primary btn-green">Save</button>
    <button type="button" class="btn btn-danger btn-red" (click)="closePopup()">Close</button>
  </div>
</form>
