<!-- <div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div> -->

<ng-template #loggedOut>
  Please login.
</ng-template>
<div class="container d-flex justify-content-center align-items-center">
             
  <div class="card">

   <div class="upper">

     <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
     
   </div>

   <div class="user text-center">

     <div class="profile">

       <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80">
       
     </div>

   </div>


   <div class="mt-5 text-center">

    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>   
    <br>
      <span class="text-muted d-block mb-2">    <strong>Roles:</strong>
      <li *ngFor="let role of currentUser.roles">
       {{ role }}
     </li></span>

<br>
     <div class="stats">
      <p>
       <strong>Email:</strong>
       {{ currentUser.email }}
     </p>
    </div>

     <div class="d-flex justify-content-between align-items-center mt-4 px-4">
</div>